@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'roboto', sans-serif;
    /* background-color: #333; */
    background-image: linear-gradient(to bottom right, #799ee2,  #77ce86);

}

:root {
    --primary-color: #3498db;
    --text-dark: #3c3f41;
    --text-light: #a7aab2;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42rem;
}

.logo {
    width: 4%;
    /* height: auto; */
    margin: 1rem 0 0.4rem 0;
    transition: all .3s ease-in-out;   
}

ul {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    font-weight: 550;
}

li a {
    color: #F3F3F3;
    transition: all .3s ease-in-out;
    padding: 0.8rem;
    border-radius:  10px;
}

/* Hover effect */
li a:hover {
    transform: translateY(-6px);
    -moz-box-shadow: rgba(80, 250, 89, 0.9) 0px 6px 20px;
    -webkit-box-shadow: rgba(80, 250, 89, 0.9) 0px 6px 20px 0px; /* For Safari 3.1 to 6 */
    box-shadow: rgba(80, 250, 89, 0.9) 0px 6px 20px 0px; /* For Firefox < 6 */
    text-decoration: none;
}

.logo:hover {
    transform: translateY(0.5px);
    -moz-box-shadow: rgba(80, 250, 89, 0.9) 0px 6px 20px;
    -webkit-box-shadow: rgba(80, 250, 89, 0.9) 0px 6px 20px 0px; /* For Safari 3.1 to 6 */
    box-shadow: rgba(80, 250, 89, 0.9) 0px 6px 20px 0px; /* For Firefox < 6 */
    text-decoration: none;
    border-radius: 6px 15px 6px 15px;
}

main {
    height: 60vh;
    background-color: #1F2937;
    z-index: 1000;
}

header {
    background-color: #1F2937;
}

.hero-home {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 9.5rem;
    /* background-color: #1F2937; */
    color: #F3F3F3;
    cursor: default;
    font-family: 'roboto', sans-serif
}

section h2 {
    margin-top: 2.4rem;
    color: #F3F3F3;
    font-size: 42px;
    font-weight: 550;
    letter-spacing: .08rem;
    line-height: 1.4;
}

section p {
    color: #E7E7E7;
    margin-top: 0.2rem;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 1.8;
}

section button {
    margin-top: 1.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    background: #3882F6;
    color: #F3F3F3;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s ease all;    
}

/* Hover Effect */
section button:hover {
    -moz-box-shadow: rgba(35, 108, 204, 0.9) 0px 6px 20px;
    -webkit-box-shadow: rgba(35, 108, 204, 0.9) 0px 6px 20px 0px; /* For Safari 3.1 to 6 */
    box-shadow: rgba(35, 108, 204, 0.9) 0px 6px 20px 0px; /* For Firefox < 6 */
    text-decoration: none;
}

.hero-main {
    width: 499px;
    border-radius: 35px;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    animation: pulse 2s infinite ease-in-out;
}

/* section 2 */

.picture-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50.6vw;
    overflow: hidden;
    flex-direction: column;
    /* height: 280px; */
    gap: 1.8rem;
    /* background: #cccccc; */
    cursor: default;
    /* background-image: linear-gradient(to bottom right, #799ee2, #77ce86); */
    background: url("../img/blur effect.png") no-repeat center  / cover;
    background-image: 90%/cover "../img/blur effect.png";
    filter: brightness(0.9);
}

.img-container  {
    max-width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.picture-section img {
    display: block;
    max-width: 70%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    /* filter: drop-shadow(0 0 10px rgb(255 255 255)); */
    width: 20%;
    border: 4px solid #3882F6;
    /* border: 8px  solid transparent; */
    box-shadow: inset 0 0 0 2px #3882f6;
    filter: drop-shadow(0 0 10px rgb(30, 120, 246));
    transform: scale(1);
    transition: .3s ease all;
    border-radius: 20px;
    /* gap: 2rem; */
}

.picture-section h2 {
    color: #111;
    font-weight: 550;
}

.img-container img:nth-child(1) {
    object-fit: fill;
}

.picture-section img:hover { 
    transform: scale(1.12);
    box-shadow: inset 0 0 0 8px #3882f6;
}

.story-card p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 82%;
    text-align: left;
    font-size: clamp(.9rem, 1vw + .5rem, .9rem);
    margin-left: 8rem;
    color: #111;
    font-weight: 500;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82.2%;
    gap: 2rem;
    font-size: 0.8rem;
    color: #111;
}

.text-section p {
    font-size: 0.8rem;
    color: #111;
    font-weight: 550;
}

/* section 3 */

.testimonial-div {
    display: flex;
    max-width: 50%;
    height: 200px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.288);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-left: 21.8rem;
    font-style: italic;
    font-weight: 500;
    padding: 1rem;
    /* backdrop-filter: blur(5px); */
    /* background-image: linear-gradient(to left bottom, rgb(136, 79, 79), transparent); */
    line-height: 1.4;
    /* filter: blur(0.5px) brightness(100%); */
}

.testimonial-extra {
    margin-top: 2rem;
    margin-left: 21.8rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 177px;
    background-color: #3882F6;
    width: 50%;
    gap: 3rem;
}

.testimonial-extra p {
    font-size: .8rem;
    letter-spacing: .1rem;
    color: white;
    text-align: left;
}

.testimonial-extra button {
    /* all: unset; */
    display: block;
    /* position: absolute; */
    cursor: pointer;
    outline: 1px solid white;
    /* font-family: 'Poppins', sans-serif; */
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    color: #fff;
    justify-content: first baseline;
    /* transition: .3s ease-in-out; */
    /* border: none;
    background-color: transparent;
    width: max-content;
    height: 40px;
    position: absolute;
    top: 50%;
    right: -90px;
    transform: translateY(-50%); */
}

/* .testimonial-extra button::before,
.testimonial-extra button::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px / 2;
    background-color: #fff;
    border-radius: 50%;
} */

.testimonial span {
    margin-top: 1rem;
    display: block;
    width: 90%;
    text-align: right;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    color: #111;
    font-size: 2.8em;
    font-weight: 800;
}

.contact label {
    font-weight: 550;
}

.contact input:first-of-type {
    margin-bottom: 1rem;
    width: 20rem;
    height: 1.8rem;
    border-radius: 5px;
    border: none;
    padding-left: 0.5rem;
}

.contact input:nth-of-type(2) {
    margin-bottom: 1rem;
    width: 20rem;
    height: 1.8rem;
    border-radius: 5px;
    border: none;
    padding-left: 0.5rem;
}

.contact textarea {
    border-radius: 10px;
    border: none;
    padding-left: 0.5rem;
    resize: none;
}

.contact input:last-child {
    padding: 0.5rem 1.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #E7E7E7;
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    cursor: pointer;
    margin-bottom: 3rem;
}

.contact input:last-child:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    text-align: center;
    margin: 1rem 0;
}

.contact-div p {
    color: #111111;
    font-weight: 500;
    
}

.contact-div p, h3 {
    cursor: default;
}

footer {
    background-color: #1F2937;
    color: #F3F3F3;
    padding: 1.6rem;
    text-align: center;
    font-weight: 550;
}